input {
     margin-bottom: 10px;
}
button {
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px;
  cursor: pointer;
}

button:last-child,
button:nth-last-child(2) {
  background-color: rgb(255, 145, 0);
}